.option {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hov{
    transition: transform 0.3s ease-in-out;
  }

  .hov:hover {
    transform: scale(1.2);
  }

  .home-logo {
    margin: 0 auto;
    display: block;
  }

  .hello-message {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    line-height: 2;
    animation: typing 2s steps(40, end) both, blink-caret .75s step-end infinite;
  }
  
  @media (max-width: 640px) {
    .hello-message {
      white-space: normal;
    }
  }
  
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: blueviolet;
    }
  }
  

  .message-container{
    margin-bottom: 20px;
    padding: 0 1rem;
    max-width: 100%;
    text-align: center;
  }

  .feedback {
    margin-top: 20px;
  }

  #navAvatar {
    border-radius: 50%;
  }
  