<%- include("templates/header") %>

<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-red-500 to-blue-900">
  <div class="text-center">
    <h1 class="text-white text-4xl mb-8 mt-10">Welcome to the home page!</h1>
    <a class="bg-white text-red-500 font-bold rounded-full px-6 py-3 mr-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="/login">Login</a>
    <a class="bg-white text-blue-900 font-bold rounded-full px-6 py-3 ml-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="/createUser">Sign up</a>
  </div>
</div>

<%- include("templates/footer") %>

