<%- include("templates/header") %>
<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-4xl font-bold mb-8 text-center">Hello <%= username %>, Welcome to Cargain!</h1>
  <div class="grid grid-cols-2 gap-4">
    <a href="/chat" class="bg-white rounded-lg shadow-md p-8">
      <img src="/search.svg" alt="Icon 1" class="w-16 h-16 mx-auto mb-4">
      <h2 class="text-2xl font-bold text-center">Find a Car</h2>
    </a>
    <a href="/priceChat" class="bg-white rounded-lg shadow-md p-8">
      <img src="/car-crash.svg" alt="Icon 2" class="w-16 h-16 mx-auto mb-4">
      <h2 class="text-2xl font-bold mt-4">Buy or Sell</h2>
    </a>
    <a href="/userProfile" class="bg-white rounded-lg shadow-md p-8 text-center">
      <img src="/person.svg" alt="Icon 3" class="w-16 h-16 mx-auto mb-4">
      <h2 class="text-2xl font-bold mt-4">Profile</h2>
    </a>
    <a href="#" class="bg-white rounded-lg shadow-md p-8 text-center">
      <img src="/garage-home.svg" alt="Icon 4" class="w-16 h-16 mx-auto mb-4">
      <h2 class="text-2xl font-bold mt-4">My Garage</h2>
    </a>
  </div>
</div>

<%- include("templates/footer") %>
