<%- include("templates/header") %>

<section>
  <div class="row" id="content">
    <div class="col-12 option">
      <div class="mb-4">
        <div class="text-center">
          <h1>Loading...</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  fetch('/predict')
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        // Handle error
        document.getElementById('content').innerHTML = `<h1>Error: ${data.error}</h1>`;
      } else {
        // Update the page with the fetched data
        document.getElementById('content').innerHTML = `
          <div class="mb-4">
            <div class="text-center">
              <img src="${data.logoUrl}" alt="${data.carData.manufacturer} Logo" class="mx-auto" style="width: 250px" />
              <div class="mt-3">
                <h1 class="text-4xl font-bold">Estimated Market Value: $${data.price}</h1>
                <br />
                <p>
                  ${data.carData.year} ${data.carData.manufacturer} ${data.carData.model}
                </p>
                <p>
                  Mileage: ${data.carData.odometer} Condition: ${data.carData.condition}
                  Title Status: ${data.carData.title_status}
                </p>
              </div>
              <br />
              <div class="mt-3">
                <div class="max-w-lg mx-auto">
                  <h2 class="text-xl font-bold">About this car:</h2>
                  <div class="mt-4 text-left">
                    <p class="px-4 py-2 bg-gray-200 rounded-lg">${data.advice}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `;
      }
    });
</script>

<%- include("templates/footer") %>
