.option {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hov{
    transition: transform 0.3s ease-in-out;
  }

  .hov:hover {
    transform: scale(1.2);
  }

  .home-logo {
    margin: 0 auto;
    display: block;
  }

  .hello-message {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid blueviolet; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    line-height: 2;
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: blueviolet; }
  }

  .message-container{
    margin-bottom: 20px;
  }

  .feedback {
    margin-top: 20px;
  }